<article class="prescription">
  <div class="prescription-header">
    <strong class="prescription-brand">{{ prescription.brand_name }}</strong>
    <button class="remove-prescription" (click)="removePrescription()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="prescription-sponsor">
    <p>{{ prescription.sponsor_name }}</p>
    <p class="prescription-status">{{ prescription.marketing_status }}</p>
  </div>
  <table>
    <tr>
      <th>Active Ingredients</th>
      <th>Dosage</th>
    </tr>
    <tr *ngFor="let ingredient of prescription.active_ingredients">
      <td>{{ ingredient.name }}</td>
      <td>{{ ingredient.strength }}</td>
    </tr>
  </table>
</article>