.search-container {
  height: 111px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #f4f4f4;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.8rem;
}

input[type="text"] {
  width: 90%;
  min-height: 35px;
  max-width: 550px;
  margin-top: 5px;
  outline: none;
}

.results-container {
  padding-top: 111px;
}