<div class="search-container">
  <h1>Find Your Medication</h1>
  <input
    type="text"
    placeholder="Enter a medication name, condition, brand name, etc."
    maxlength="65"
  />
</div>
<div class="results-container">
  <app-search-result></app-search-result>
  <app-search-result></app-search-result>
  <app-search-result></app-search-result>
  <app-search-result></app-search-result>
  <app-search-result></app-search-result>
  <app-search-result></app-search-result>
  <app-search-result></app-search-result>
  <app-search-result></app-search-result>
  <app-search-result></app-search-result>
  <app-search-result></app-search-result>
  <app-search-result></app-search-result>
  <app-search-result></app-search-result>
</div>
