.search-container {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #f4f4f4;
  transition: 300ms;
}

.search-header {
  width: 90%;
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h1 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  width: 100%;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 2rem;
  }
}

.expand-filters {
  height: 25px;
  width: 25px;
  transition: 150ms;
}

.error-message, .error-tip {
  text-align: center;
  padding: 10px;
}

.error-message {
  font-size: 2rem;
}

.error-tip {
  font-size: 1.5rem;
}