.search-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-weight: 400;
}

input[type="text"] {
  width: 90%;
  max-width: 550px;
  margin-top: 5px;
  outline: none;
}

.results-container {
  height: 100%;
  overflow-y: scroll;
}