<section
  *ngIf="showMenu"
  class="prescriptions"
>
  <div class="prescription-search">
    <h2>Your Prescriptions</h2>
    <input type="text" placeholder="search" maxlength="35" />
  </div>
  <div class="prescription-container">
    <app-prescription></app-prescription>
    <app-prescription></app-prescription>
    <app-prescription></app-prescription>
    <app-prescription></app-prescription>
    <app-prescription></app-prescription>
    <app-prescription></app-prescription>
    <app-prescription></app-prescription>
    <app-prescription></app-prescription>
    <app-prescription></app-prescription>
    <app-prescription></app-prescription>
    <app-prescription></app-prescription>
    <app-prescription></app-prescription>
    <app-prescription></app-prescription>
    <app-prescription></app-prescription>
  </div>
</section>
