@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  background-color: #f4f4f4;
}

main {
  margin-top: 60px;
}

header {
  background-color: #702c91;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  color: white;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 50;
}

header img {
  user-select: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:focus {
  outline: #000000 solid 2px;
}

input[type="text"] {
  height: 35px;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  outline: none;
}

input[type="text"]:focus {
  border: 2px solid rgba(0, 0, 200, 0.7);
}

li {
  list-style: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: rgba(0,0,0,.05);
}

.prescriptions {
  width: 280px;
  background-color: #d9d9d9;
  border-right: rgba(0, 0, 0, 0.3) solid 1px;
  position: fixed;
  height: calc(100vh - 60px);
  z-index: 40;
}

section {
  transition: 300ms;
}

.slide-in {
  animation: slidemenu .3s ease;
}

.slide-out {
  margin-left: -280px;
  animation: slidemenu .3s ease reverse;
}

@keyframes slidemenu {
  from {
    margin-left: -280px;
  }
  to {
    margin-left: 0;
  }
}

.search,
.search-nomenu {
  z-index: 30;
  background-color: #f4f4f4;
  min-height: calc(100vh - 60px);
}

.search {
  width: calc(100% - 280px);
  margin-left: 280px;
}

.search-nomenu {
  width: 100%;
  margin-left: 0;
}

.menu-overlay {
  filter: brightness(0.5);
  user-select: none;
}
